<%- include('components/head') %>
<div id="item-not-found">
  <div id="bg-linear-gradient"></div>
  <h1 data-string="notFound"></h1>
  <a href="/" data-string="backHome"></a>
</div>
<%- include('components/footer') %>