  <footer>
    <div id="footer">
      <select id="display-set-language">
        <option value="pt-BR" data-string="ptBR" selected></option>
        <option value="en" data-string="en"></option>
      </select>
      <div>
        <a href="/contact" data-string="contact"></a>
      </div>
    </div>
    <div>Icons made by umartvurdu from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>-</div>
    <div>
      &copy; 2023 | <a href="https://github.com/oGabrielSilva" target="_blank">Gabriel Henrique da Silva</a>
    </div>
  </footer>
</body>
</html>