<div class="popup-root">
  <div id="popup-container">
    <div id="popup">
      <h1 id="popup-title">Lorem ipsum dolor sit amet consectetur</h1>
      <p id="popup-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum dolorum praesentium dolore amet quo doloribus doloremque assumenda quas hic ea blanditiis, inventore ducimus dicta provident laboriosam fugit est magni reiciendis?</p>
      <div id="popup-indicator" class="indicator"></div>
      <button class="btn" id="popup-btn" data-string="ok"></button>
    </div>
  </div>
</div>